body {
    background-color: #0B090A;
    color: #D4D4D4;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    margin: 4em 1.5em;
}
.menubar {
    color: #D4D4D4;
}
.menubar:hover {
    color: green;
}
.images {
    margin: 4vw 0; 
    border: 0.4rem solid white;
    width: 85%;
}
.page {
    margin: 2vw 0;
    font-size: clamp(3rem, 5vw, 10rem);
    font-weight: bold;
    font-family: Georgia,'Times New Roman', Times, serif;
}


